<section>
    <h2>- Ng Switch</h2>
    <div [ngSwitch]="alert">
        <div class="alert alert-success" role="alert" *ngSwitchCase="'success'">
            <strong>Well done!</strong> You successfully read this important alert message.
        </div>
        <div class="alert alert-info" role="alert" *ngSwitchCase="'info'">
            <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
        </div>
        <div class="alert alert-warning" role="alert" *ngSwitchCase="'warning'">
            <strong>Warning!</strong> Better check yourself, you're not looking too good.
        </div>
        <div class="alert alert-danger" role="alert" *ngSwitchDefault>
            <strong>Oh snap!</strong> Change a few things up and try submitting again.
        </div>
    </div>
    <button class="btn btn-default" type="button" (click)="getAlertRandom()">
        Change
    </button>
</section>
