<div class="row">
    <div class="col-md-12 text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-secondary"
                type="button"
                [routerLink]="['add']"
                routerLinkActive="active">
                Add
            </button>
            <button class="btn btn-secondary"
                type="button"
                [routerLink]="['edit']"
                routerLinkActive="active">
                Edit
            </button>
            <button
                type="button"
                class="btn btn-secondary"
                [routerLink]="['detail']"
                routerLinkActive="active">
                Detail
            </button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
