<section class="main-content" ng-cloak>
    <header class="bg-inverse">
        <div class="container">
            <nav class="navbar navbar-toggleable-sm navbar-inverse">
                <button class="navbar-toggler navbar-toggler-right"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#about">Navbar</a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                        <li class="nav-item"
                            ng-class="{'active':$ctrl.isActive('about')}">
                            <a class="nav-link" ng-href="#about">About</a>
                        </li>
                        <li class="nav-item"
                            ng-class="{'active':$ctrl.isActive('service')}">
                            <a class="nav-link" ng-href="#service/25">Service</a>
                        </li>
                        <li class="nav-item"
                            ng-class="{'active':$ctrl.isActive('contact')}">
                            <a class="nav-link" ng-href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container" ng-view></div>
</section>
