@mixin quantity-query( $number, $comparison: "equal" ) {
    $nth: "";

    @if index( ">", $comparison ) {
        $nth: "-n + #{$number - 1}";
    } @else if index( ">=", $comparison ) {
        $nth: "-n + #{$number}";
    } @else if index( "<", $comparison ) {
        $nth: "n + #{$number + 1}";
    } @else if index( "<=", $comparison ) {
        $nth: "n + #{$number}";
    } @else if index( "=", $comparison ) {
        $nth: $number;
    } @else {
        @warn "Sorry, that's an invalid $comparison value.";
    }

    &:nth-last-child(#{$nth}):first-child {
        &,
        & ~ * {
            @content;
        }
    }
}


.container {
    margin-bottom: 1.5rem;

    p {
        @include quantity-query( 3, ">=" ) {
            color: red;
        }

        @include quantity-query( 2, "=" ) {
            color: blue;
        }

        @include quantity-query( 4, "<=" ) {
            color: green;
        }
    }
}
