
$red: #ff0000;
$blue: #0000ff;
$green: #008000;
$black: #000000;
$purple: #800080;
$gray20: #333333;
$gray40: #666666;
$gray60: #999999;
$gray: #808080;
$orange: #ffa500;
$pink: #ffc0cb;
$whilte: #ffffff;
$brown: #663300;
$yellow: #ffff00;

%text-center {
    text-align: center;
}
