<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Angularjs 1.5</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />

        <style>
            .error {
                color: red;
            }

            div section {
                margin-bottom: 4rem;
            }

            section:last-child div {
                width: 200px;
                height: 200px;
                background-color: blue;
                transition: all 2s ease;
            }
            section:last-child div.hover {
                width: 400px;
                height: 400px;
            	background-color: green;
            }
        </style>
    </head>
    <body ng-app="myApp" ng-init="name = 'Ming Chung Ou'">
        <h1>Hola {{name}}</h1>

        <!--<section ng-controller="todoController as ctrl">-->
        <div ng-controller="todoController as $ctrl">
            <section>
                <h2>My Activities</h2>
                <ul ng-show="$ctrl.activities.length > 0">
                    <li ng-repeat="act in $ctrl.activities | orderBy: 'description'">
                        {{act.description}} <strong>-</strong> {{act.date | date: "short"}}
                        <a href="" ng-click="$ctrl.removeActivity(act)">remove</a>
                    </li>
                </ul>
                <form ng-submit="$ctrl.addActivity()">
                    <label for="description">Description:</label>
                    <input id="description" type="text" ng-model="$ctrl.todo.description" required /><br />
                    <label for="date">Date:</label>
                    <input id="date" type="datetime-local" ng-model="$ctrl.todo.date" required /><br />
                    <input type="submit" value="Add" />
                    <button type="button" ng-click="$ctrl.clearAll()">Clear All</button>
                    <p class="error" ng-show="$ctrl.showError">That one is already added!</p>
                </form>
            </section>
            <section>
                <h2>Dynamic Table</h2>
                <table ng-show="$ctrl.todoList.length > 0">
                    <caption>Tabla de Posiciones 2017</caption>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Activity</th>
                            <th>Date</th>
                            <th>Priority</th>
                            <th>Created</th>
                            <th>Updated</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="todo in $ctrl.todoList | orderBy: $ctrl.order">
                            <th scope="row">{{todo.id}}</th>
                            <td>{{todo.activity}}</td>
                            <td>{{todo.fromX | date: "short"}}</td>
                            <td>{{todo.priority}}</td>
                            <td>{{todo.created | date: "short"}}</td>
                            <td>{{todo.updated | date: "short"}}</td>
                            <td>{{todo.status}}</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section>
                <h2>Login</h2>
                <form ng-submit="$ctrl.signin()">
                    <label for="email">Email:</label>
                    <input id="email" type="email" ng-model="$ctrl.login.email" required /><br />
                    <label for="password">Password:</label>
                    <input id="password" type="password" ng-model="$ctrl.login.password" required /><br />
                    <input type="submit" value="Login" />
                </form>
                <p>{{$ctrl.loginResponse}}</p>
            </section>
            <section>
                <h2>Dynamic Class</h2>
                <div ng-class="{'hover': mouse}" ng-mouseover="mouse = true" ng-mouseout="mouse = false"></div>
            </section>
        </div>

        <script src="../lib/angular-1.5.min.js"></script>
        <script src="../lib/angular-local-storage.min.js"></script>
        <script src="js/myScript.js"></script>
        <script src="js/services.js"></script>
        <!--<script src="js/factories.js"></script>-->
        <script src="js/todoController.js"></script>
    </body>
</html>
