<nav class="navbar navbar-toggleable-sm navbar-inverse">
    <button class="navbar-toggler navbar-toggler-right"
        type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngFor="let item of items" routerLinkActive="active">
                <a class="nav-link"
                    [routerLink]="[item.routerLink, item.parameter]"
                    *ngIf="item.parameter">
                    {{item.name}}
                </a>
                <a class="nav-link"
                    [routerLink]="[item.routerLink]"
                    *ngIf="!item.parameter">
                    {{item.name}}
                </a>
            </li>
        </ul>
    </div>
</nav>
