<h4>Form <small>template</small></h4>
<hr>
<form novalidate #form="ngForm" (ngSubmit)="save(form)">
    <!-- Input text -->
    <div class="form-group row" [ngClass]="{'has-danger': name.invalid && name.touched}">
        <label class="col-md-2 col-form-label" for="name">Name</label>
        <div class="col-md-8">
            <input class="form-control"
                id="name"
                type="text"
                name="name"
                placeholder="Write your name"
                minlength="8"
                maxlength="20"
                required
                pattern="[^()\/\\\[\]@#$%&?¡!¿{}<>]+"
                [(ngModel)]="user.name"
                #name="ngModel"
                [ngClass]="{'form-control-danger': name.invalid && name.touched}" />
            <div class="form-control-feedback"
                *ngIf="name.errors?.required && name.touched">
                This field is required
            </div>
            <div class="form-control-feedback"
                *ngIf="name.errors?.minlength && name.touched">
                Name should have at lease {{name.errors.minlength.requiredLength}} characters
            </div>
            <div class="form-control-feedback"
                *ngIf="name.errors?.pattern && name.touched">
                The name written is invalid
            </div>
        </div>
    </div>

    <!-- Input email -->
    <div class="form-group row"
        [ngClass]="{'has-danger': email.invalid && email.touched}">
        <label class="col-md-2 col-form-label" for="email">Email</label>
        <div class="col-md-8">
            <input class="form-control"
                id="email"
                type="email"
                name="email"
                placeholder="Write your email"
                required
                pattern="[^()\/\\\[\]@#$%&?¡!¿{}<>]+@[a-zA-Z0-9]+(?:\.[a-zA-Z]{2,3}){1,2}"
                [(ngModel)]="user.email"
                #email="ngModel"
                [ngClass]="{'form-control-danger': email.invalid && email.touched}" />
            <div class="form-control-feedback"
                *ngIf="email.errors?.required && email.touched">
                This field is required
            </div>
            <div class="form-control-feedback"
                *ngIf="email.errors?.pattern && email.touched">
                The email written is invalid
            </div>
        </div>
    </div>

    <!-- Input date -->
    <div class="form-group row"
        [ngClass]="{'has-danger': birth.invalid && birth.touched}">
        <label class="col-md-2 col-form-label" for="birth">Birth</label>
        <div class="col-md-8">
            <input class="form-control"
                id="birth"
                type="date"
                name="birth"
                max="2017-05-24"
                required
                [(ngModel)]="user.birth"
                #birth="ngModel" />
            <div class="form-control-feedback"
                *ngIf="birth.errors?.required && birth.touched">
                This field is required
            </div>
        </div>
    </div>

    <!-- Select -->
    <div class="form-group row"
        [ngClass]="{'has-danger': country.invalid && country.touched}">
        <label class="col-md-2 col-form-label" for="country">Country</label>
        <div class="col-md-8">
            <select class="form-control"
                id="country"
                name="country"
                required
                [(ngModel)]="user.country"
                #country="ngModel">
                <option value="">Select a country</option>
                <option *ngFor="let item of countries" [value]="item.cod">
                    {{item.country}}
                </option>
            </select>
            <div class="form-control-feedback"
                *ngIf="country.errors?.required && country.touched">
                This field is required
            </div>
        </div>
    </div>

    <!-- Input radio -->
    <div class="form-group row">
        <label class="col-md-2 col-form-label">Gender</label>
        <div class="col-md-8">
            <div class="form-check" *ngFor="let item of gender">
                <label class="custom-control custom-radio">
                    <input class="custom-control-input"
                        type="radio"
                        name="gender"
                        required
                        [value]="item.cod"
                        [(ngModel)]="user.gender" />
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{item.value}}</span>
                </label>
            </div>
        </div>
    </div>

    <!-- Input checkbox -->
    <div class="form-group row">
        <div class="col-md-8 offset-md-2">
            <div class="form-check">
                <label class="custom-control custom-checkbox">
                    <input class="custom-control-input"
                        id="accept"
                        type="checkbox"
                        name="accept"
                        required
                        [(ngModel)]="user.accept" />
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Accept all conditions</span>
                </label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-8 offset-md-2">
            <button class="btn btn-outline-primary"
                type="submit"
                [disabled]="form.invalid">
                Save
            </button>
        </div>
    </div>
</form>
<br />
<br />
<br />
<pre>{{user | json}}</pre>

<!-- ng-pristine: Indicating the input data is by default -->
<!-- ng-dirty: Indicating the input data is modified -->
<!-- ng-untouched: Indicating the input is never focused -->
<!-- ng-touched: Indicating the input is focused at lease once -->
<!-- ng-invalid: Indicating the input data is invalid -->
<!-- ng-valid: Indicating the input data is valid -->

<!-- if not using the parenthesis, then the changes are not effected to component objects
    [ngModel]="user.email" />-->

<!-- if using the parenthesis, then the changes are allowed to effect to component objects
    [(ngModel)]="user.email" />-->
